<!--<a-->
<!--        href="http://localhost:3000/user/authorize?state=321&amp;nonce=123&amp;response_type=code&amp;client_id=bar&amp;redirect_uri=https%3A%2F%2Flocalhost%2Fcb&amp;scope=openid%20profile%20email"-->
<!--        rel="nofollow">-->
<!--    Test-->
<!--</a>-->

<a href="http://localhost:3000/login">
    Test Authorization_code flow
</a>
