.login-card {
    padding: 0 30px 20px;
    width: 350px;
    background-color: #F7F7F7;
    margin: 10px auto 10px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.login-card + .login-card {
    padding-top: 10px;
}
.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}
.login-card h1 + p {
    font-weight: 100;
    text-align: center;
}

.messages {
    display: none;
}

.messages ul {
    font-weight: 100;
    padding-left: 1em;
    list-style-type: circle;
}
.messages li + ul, .messages ul + li, .messages li + li {
    padding-top: 0.3em;
}

.otp-form .fr-btns-group {
    margin-top: 20px;
}
